page-termsandconditions {
    .myheader{
        background: #03a !important;
        border-color: #03a !important;
    } 

    .toolbar-title-md {
        color: #FFFFFF !important;
    }

    .back-button.show-back-button {
        color: white !important;
    }
}
